<!DOCTYPE html>
<html lang="es">

<%- include('./template/cabecera') %>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container">
        <a class="navbar-brand" href="./"><img src="img/icon.png" alt="Node.js icon" class="nav-icon"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <%- include ('./template/ul') %>
            <a href="/logout" class="btn btn-lg auth-btn">Cerrar sesion</a>


        </div>

      </div>
    </nav>
    <%- include ('./message/message') %>
    <div class="container">
        <br>
        <div class="col-md-12 ">
          <div class=" text-center ">
            <h3><strong>Bienvenido <%= user.name %></strong> </h3>
            <h4>Que desea hacer?</h4>
          </div>
          <br>
          <div class="row col-12 d-flex justify-content-around mb-4">
            <div class="col-sm-3">
              <div class="card card-index">
                <div class="card-body">
                  <h5 class="card-title">Insumos</h5>
                  <p class="card-text">En esta sección podrás acceder a los insumos.</p>
                  <a href="./insumos" class="btn btn-primary">Ingresar</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card card-index">
                <div class="card-body">
                  <h5 class="card-title">Servicios</h5>
                  <p class="card-text">En esta sección podrás acceder a los servicios.</p>
                  <a href="./servicios" class="btn btn-primary">Ingresar</a>
                </div>
              </div>
            </div>

          </div>
          <div class="row col-12 d-flex justify-content-around">
            <div class="col-sm-3">
              <div class="card card-index">
                <div class="card-body">
                  <h5 class="card-title">Reclamos</h5>
                  <p class="card-text">En esta sección podrás acceder a los reclamos.</p>
                  <a href="./reclamos" class="btn btn-primary">Ingresar</a>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="col-sm-3">
                <div class="card card-index">
                  <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">En esta sección podrás acceder a los clientes.</p>
                    <a href="./clientes" class="btn btn-primary">Ingresar</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">

            </div>
          </div>

        </div>



    </div>




    <%- include('./template/footer') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
  </body>

</html>