<!DOCTYPE html>
<html lang="es">

  <%- include('../template/cabecera') %>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="./profile"><img src="img/icon.png" alt="Node.js icon" class="nav-icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%- include ('../template/ul') %>
        <form class="d-flex" action="./search-reclamo" method="GET">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
          <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </form>
        <a href="/logout" class="btn btn-secondary ms-4">Cerrar sesion</a>
      </div>
    </div>
  </nav>
  <br>
  <div class="row container centered" width="100vw">
    <div class="position-absolute">
      <%- include ('../message/message') %>
    </div>
    <div class="text-center">
      <h2>Busca por "<%= search %>"</h2>
    </div>
    <br>
    <br>
    <br>
    <table class="table table-hover">
      <thead class="table-dark text-center">
        <th scope="col">Tipo de reclamo</th>
        <th scope="col">N° de reclamo</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Usuario</th>
        <th scope="col">Tecnico</th>

      </thead>
      <tbody class="text-center">
        <% reclamos.forEach(function(reclamo) { %>
          <tr>
            <td>
              <%= reclamo.tipoReclamo %>
            </td>
            <td>
              <%= reclamo.numeroReclamo %>
            </td>
            <td>
              <%= reclamo.fecha %>
            </td>
            <td>
              <%= reclamo.estado %>
            </td>
            <td>
              <%= reclamo.userId %>
            </td>
            <td>
              <%= reclamo.tecnicoId %>
            </td>
            
            <td>
              <%= reclamo.created_at.toLocaleDateString() %>
                <%= reclamo.created_at.toLocaleTimeString() %>
            </td>
            <td>
              <%= reclamo.updated_at.toLocaleDateString() %>
                <%= reclamo.updated_at.toLocaleTimeString() %>
            </td>
            <td>
              <div class="row">
                <div class="row">
                  <form action="./edit-reclamo" method="GET">
                    <input type="hidden" name="id" value="<%= reclamo.id %>">
                    <button type="submit" class="btn edit-btn"><i class="bi bi-pencil"></i></button>
                  </form>
                </div>
                <div class="row"></div>
                <div class="row">
                  <form action="./delete-reclamo" method="POST">
                    <input type="hidden" name="id" value="<%= reclamo.id %>">
                    <button type="submit" class="btn delete-btn"><i class="bi bi-trash"></i></button>
                  </form>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../template/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/product-script.js"></script>
</body>

</html>