<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Node.js</title>
  <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="./"><img src="img/icon.png" alt="Node.js icon" class="nav-icon"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../user-add">Agregar usuario</a>
          </li>
        </ul>
        <form class="d-flex" action="./user-search" method="GET">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="search">
          <button class="btn secondary-btn" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <div class="container">
    <div class="text-center">
      <h2>Actualice sus datos</h2>
    </div>
    <br>
    <form action="./edit-user" method="POST">
      <input type="hidden" name="id" value="<%= user.id %>">
      <div class="row">
        <div class="col-12">
          <label for="username" class="form-label">Usuario</label>
          <input type="text" name="username" id="username" class="form-control" value="<%= user.username %>" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="email" class="form-label">Email</label>
          <input type="text" name="email" id="email" class="form-control" value="<%= user.email %>" required>
        </div>
        <div class="col-6">
          <label for="phone" class="form-label">Telefono</label>
          <input type="text" name="phone" id="phone" class="form-control" value="<%= user.phone %>" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <label for="city" class="form-label">Departamento</label>
          <input type="text" name="city" id="city" class="form-control" value="<%= user.city %>" required>
        </div>
        <div class="col-6">
          <label for="state" class="form-label">Provincia</label>
          <select name="state" id="state" class="form-select" >
            <option value="<%= user.state %>" selected >
              <%= user.state %>
            </option>
            <option value="" selected disabled >Selecione su provincia</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego	">Tierra del Fuego</option>
            <option value="Tucumán">Tucumán</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="float-start">
            <button type="submit" class="btn primary-btn">Actualizar usuario</button>
          </div>
        </div>
        <div class="col-6">
          <div class="float-end">
            <a href="./" class="btn secondary-btn">Volver a inicio</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <script src="js/user-script.js"></script>
</body>

</html>